/* css stuff */

body {
    background-color: #222831;
    color: #DFD0B8;
    font-family: sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}